<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LimeSoda_EnvironmentConfiguration>
            <version>1.3.0</version>
        </LimeSoda_EnvironmentConfiguration>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LimeSoda_EnvironmentConfiguration after="Mage_Adminhtml">LimeSoda_EnvironmentConfiguration_Adminhtml</LimeSoda_EnvironmentConfiguration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <limesoda_environmentconfiguration>
                    <file>limesoda_environmentconfiguration/limesoda_environmentconfiguration.xml</file>
                </limesoda_environmentconfiguration>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <limesoda_environmentconfiguration>
                    <file>limesoda_environmentconfiguration/limesoda_environmentconfiguration.xml</file>
                </limesoda_environmentconfiguration>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <limesoda_environmentconfiguration>
                <class>LimeSoda_EnvironmentConfiguration_Block</class>
            </limesoda_environmentconfiguration>
        </blocks>
        <events>
            <controller_action_predispatch>
                <observers>
                    <limesoda_environmentconfiguration>
                        <class>limesoda_environmentconfiguration/observer</class>
                        <method>controllerActionPredispatch</method>
                    </limesoda_environmentconfiguration>
                </observers>
            </controller_action_predispatch>
        </events>
        <helpers>
            <limesoda_environmentconfiguration>
                <class>LimeSoda_EnvironmentConfiguration_Helper</class>
            </limesoda_environmentconfiguration>
        </helpers>
        <models>
            <limesoda_environmentconfiguration>
                <class>LimeSoda_EnvironmentConfiguration_Model</class>
            </limesoda_environmentconfiguration>
        </models>
    </global>
</config>
